{% extends 'base.html' %}

{% block conteudo %}

<div class="col">
    <button>Adicionar Cliente</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Endereço</th>
            <th scope="col">Carro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
    <button>Adicionar Carro</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Placa</th>
            <th scope="col">Carro</th>
            <th scope="col">Cor</th>
            <th scope="col">Ano</th>
            <th scope="col">Dono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
</div>

{% endblock %}