{% extends 'base.html' %}

{% block conteudo %}

<div class="col">
    <button data-bs-toggle="modal" data-bs-target="#modalClientes" class="btn btn-dark">Adicionar Cliente</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Endereço</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
            <tr>
              <th scope="row">{{ cliente.id_clientes }}</th>
              <td>{{ cliente.nome }}</td>
          {% endfor %}
          {% for endereco in enderecos %}
              <td>{{ endereco.rua }}</td>
            </tr>
          {% endfor %}

        </tbody>
    </table>
    <button data-bs-toggle="modal" data-bs-target="#modalCarros" class="btn btn-dark">Adicionar Carro</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Placa</th>
            <th scope="col">Carro</th>
            <th scope="col">Cor</th>
            <th scope="col">Ano</th>
            <th scope="col">Dono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
</div>

<div class="modal fade modal-lg" id="modalClientes" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('clientes') }}" method="post">
        <div class="modal-body">
          <h6>Nome do Cliente</h6>
          <input type="text" class="form-control" name="nome" id="nome" required>
          <h6>CEP</h6>
          <input type="text" class="form-control" name="cep"  id="cep" required>
          <h6>Rua</h6>
          <input type="text" class="form-control" name="rua" id="rua" required>
          <h6>Bairro</h6>
          <input type="text" class="form-control" name="bairro" id="bairro" required>
          <h6>Numero</h6>
          <input type="text" class="form-control" name="numero" id="numero" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" value="clientes" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade modal-lg" id="modalCarros" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar Carro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#cep').addEventListener('blur', function () {
        const cep = this.value;
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then((response) => response.json())
          .then((data) => {
            document.querySelector('input[name="bairro"]').value = data.bairro;
            document.querySelector('input[name="rua"]').value = data.logradouro;
          })
          .catch((error) => {
            console.error('Erro ao buscar o endereço:', error);
          });
      });
</script>

{% endblock %}