{% extends 'base.html' %}

{% block conteudo %}

<div class="mt-4 p-4 bg-light rounded-4" style="max-height: 38vh;">
    <h4 class="mb-4">Ordens de Serviços Finalizadas</h4>
    <table class="table table-striped" style="max-height: 27vh;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Problema</th>
            <th scope="col">Serviço</th>
            <th scope="col">Prazo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for ordemServico in ordensServicos %}
            {% if ordemServico.status_ordem == 2 %}
              <tr>
                <th scope="row">{{ ordemServico.id_ordem_servicos }}</th>
                <td>{{ ordemServico.defeito }}</td>
                <td>{{ obterServico(ordemServico.id_ordem_servicos) }}</td>
                <td>{{ ordemServico.previsao_entrega }}</td>
                <td><button data-id="{{ ordemServico.id_ordem_servicos }}" class="btn btn-dark modal-link" style="float: right;">Detalhes</button></td>
              </tr>
              <div class="modal fade modal-lg ordem-servico-modal" id="{{ordemServico.id_ordem_servicos}}" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-4"><b>Cod: </b>{{ ordemServico.id_ordem_servicos }}</p>
                        <p class="fs-4"><b>Problema: </b>{{ ordemServico.defeito }}</p>
                        <p class="fs-4"><b>Data de emissão: </b>{{ ordemServico.data_emissao }}</p>
                        <p class="fs-4"><b>Previsão de Entrega: </b>{{ ordemServico.previsao_entrega }}</p>
                        <p class="fs-4"><b>Serviço: </b>{{ obterServico(ordemServico.id_ordem_servicos).nome }}</p>
                        <p class="fs-4"><b>Valor do Serviço: </b>{{ obterServico(ordemServico.id_ordem_servicos).valor }}</p>
                        <p class="fs-4"><b>Valor Cobrado: </b>{{ ordemServico.valor_cobrado }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </tbody>
    </table> 
</div>

{% endblock %}