{% extends 'base.html' %}

{% block conteudo %}

<div class="col">
  <div class="mt-4 p-4 bg-light rounded-4" style="max-height: 86vh;">
    <h4 style="float: left;">Peças</h4>
    <button data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-dark mb-4" style="float: right;">Adicionar Peça</button>
    <table class="table table-striped" style="max-height: 74vh;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Marca</th>
          <th scope="col">Valor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for peca in pecas %}
          <tr>
            <th scope="row">{{ peca.id_pecas }}</th>
            <td>{{ peca.nome_da_peca }}</td>
            <td>{{ peca.marca }}</td>
            <td>{{ peca.valor }}</td>
            <td><button data-id="{{ peca.id_pecas }}" class="btn btn-dark modal-link" style="float: right;">Detalhes</button></td>
          </tr>
          <div class="modal fade modal-lg ordem-servico-modal" id="{{peca.id_pecas}}" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-4"><b>Cod: </b>{{ peca.id_pecas }}</p>
                  <p class="fs-4"><b>Nome: </b>{{ peca.nome_da_peca }}</p>
                  <p class="fs-4"><b>Marca: </b>{{ peca.marca }}</p>
                  <p class="fs-4"><b>Valor: </b>R${{ peca.valor }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
    
</div>

<div class="modal fade modal-lg" id="modal" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar peça</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('pecas') }}" method="post">
        <div class="modal-body">
          <h6>Nome da Peça</h6>
          <input type="text" class="form-control mb-3" name="nome_da_peca" id="nome_da_peca" required>
          <h6>Marca</h6>
          <input type="text" class="form-control mb-3" name="marca"  id="marca" required>
          <h6>Valor</h6>
          <input type="text" class="form-control mb-3" name="valor" id="valor" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-dark">Adicionar</button>
        </div>
      </form>
    </div>
  </div> 
</div>

<script>
  document.querySelectorAll('.modal-link').forEach(link => {
      link.addEventListener('click', function() {
          const id = this.getAttribute('data-id');
          modalShow(id);
      });
  });

  function modalShow(id) {
      const modal = document.getElementById(id);
      const bsModal = new bootstrap.Modal(modal);
      bsModal.show();
  }

  function modalClose() {
      document.querySelectorAll('.modal').forEach(modal => {
          const bsModal = bootstrap.Modal.getInstance(modal);
          if (bsModal) {
              bsModal.hide();
          }
      });
  }
</script>

{% endblock %}