{% extends 'base.html' %}

{% block conteudo %}

<div class="col">
    <button data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-dark">Adicionar Peça</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for peca in pecas %}
            <tr>
              <th scope="row">{{ peca.id_pecas }}</th>
              <td>{{ peca.nome_da_peca }}</td>
              <td>{{ peca.marca }}</td>
              <td>{{ peca.valor }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade modal-lg" id="modal" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar peça</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('pecas') }}" method="post">
        <div class="modal-body">
          <h6>Nome da Peça</h6>
          <input type="text" class="form-control" name="nome_da_peca" id="nome_da_peca" required>
          <h6>Marca</h6>
          <input type="text" class="form-control" name="marca"  id="marca" required>
          <h6>Valor</h6>
          <input type="text" class="form-control" name="valor" id="valor" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" value="pecas" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}