{% extends 'base.html' %}

{% block conteudo %}

<div class="col-12">
  <div class="mt-4 p-4 bg-light rounded-4" style="max-height: 86vh;">
    <h4 style="float: left;">Serviços</h4>
    <button data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-dark mb-4" style="float: right;">Adicionar Serviço</button>
    <table class="table table-striped" style="max-height: 74vh;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for servico in servicos %}
            <tr>
              <th scope="row">{{ servico.id_servicos }}</th>
              <td>{{ servico.nome }}</td>
              <td>{{ servico.descricao}}</td>
              <td>{{ servico.valor }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
    
</div>

<div class="modal fade modal-lg" id="modal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Adicionar Serviço</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{ url_for('servicos') }}" method="post">
          <div class="modal-body">
            <h6>Nome do Serviço</h6>
            <input type="text" class="form-control mb-3" name="nome" id="nome" required>
            <h6>Descrição do Serviço</h6>
            <input type="text" class="form-control mb-3" name="descricao"  id="descricao" required>
            <h6>Numero</h6>
            <input type="text" class="form-control mb-3" name="numero" id="numero" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}